body {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color:rgba(0, 128, 0, 0.1);
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}
section {
    display: flex;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

#clickMeBtn {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

#ID_name {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#ID_name:empty {
    display: none;
}

#methods {
    list-style: none;
}

.signature{
    font-size: 15px;
    padding:10px;
}

.container{
    margin:100px;
    background-color:rgba(0, 128, 0, 0.1);
}

